<div class="overlay" *ngIf="showPrompt">
  <mat-card class="">
    <!--<mat-toolbar color="primary">-->
      <!--{{title}}-->
    <!--</mat-toolbar>-->
    <mat-card-content>
      <img _ngcontent-c18="" alt="Photo of a Shiba Inu" class="mat-card-image" mat-card-image="" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      <br>{{template}}<br><br>
      <mat-input-container class="mat-block">
        <input mdInput [placeholder]="placeholder"
               [(ngModel)]="value"
               (keyup.enter)="emitValue(value)"
               (keyup.escape)="emitValue(null)"/>
      </mat-input-container>
    </mat-card-content>
    <mat-card-actions class="center">
      <button mat-button (click)="emitValue(null)" color="primary">{{cancelText}}</button>
      <button mat-raised-button (click)="emitValue(value)" color="primary">{{okText}}</button>
    </mat-card-actions>
  </mat-card>
</div>